$color-base: #F2E6E9;
$color-base-highlight: #fff;
$color-base-text: #46494C;
$color-principal-text: #fff;
$color-principal: #858AE3;
$color-secundary: #ED254E;
$color-good: #59C9A5;
$color-bad: #ED254E;
$color-different: #F2D202;

$default-conteiner: 790px;