@import '../../styles/variables.scss';


.loading__bg{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: $color-principal;
    opacity: .8;
    z-index: 10;
    overflow: hidden;
}
.modal__icon{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    pointer-events: none;
    // min-width: 380px;
}
.icon__loading {
    font-size: 20vw;
    color: $color-base-highlight;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}