@import './variables.scss';



.main__animation{
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    height: 100%;
}
.bg__ball{
    width: 30em;
    height: 30em;
    border-radius: 50%;
    opacity: .2;
    background-color: $color-principal;
    animation: goingUp 12s linear infinite;
}
.bg__ball2{
    @extend .bg__ball;
    animation: goingUp 10s linear infinite;
    width: 3em;
    height: 3em;
}
.bg__ball3{
    @extend .bg__ball;
    animation: goingUp 11s linear infinite;
    width: 12em;
    height: 12em;
}
.bg__ball5{
    @extend .bg__ball;
    animation: goingUp 7s linear infinite;
    width: 5em;
    height: 5em;
}
.bg__ball4{
    @extend .bg__ball;
    animation: goingUp 15s linear infinite;
    width: 20em;
    height: 20em;
}

@keyframes goingUp{
    0% {
      transform:  translate(0%,100vh);
      opacity: 0;
    }
    55% {
      opacity: .2;
  
  
    }
    100% {
      transform:  translate(0%,0vh);
      opacity: 0;
    }
    
  }