@import './variables.scss';
@import './bg.scss';
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Arvo', serif;
    font-weight: normal;
}
body{
    background-color: $color-base;
    color: $color-base-text;
    font-size: 16px;
    position: relative;
}
hr{
    width: 80%;
    opacity: .5;
    border: 1px solid $color-principal;
    margin: auto;
}
// -------------------------------------------------------------------
.button__attention{
    width: 100%;
    font-size: 18px;
    background-color: $color-secundary;
    color: $color-principal-text;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: .8em;
    transition: .1s;
}
.button__attention:hover{
    opacity: .5;
}
.button__attention:focus{
    outline: none;
}
.button__attention:active{
    opacity: 1;
}
.button__attention:disabled{
    cursor: default;
    opacity: .5;
}
.button__default{
    @extend .button__attention;
    background-color: $color-principal;
}
.button__warning{
    @extend .button__attention;
    background-color: $color-different;
}
.icon__default{
    margin: 0 5px;
}
.icon__clicable{
    @extend .icon__default;
    font-size: 1.5em;
    cursor: pointer;
}
.icon__clicable:hover{
    opacity: .5;
}
.icon__clicable:active{
    opacity: 1;
}
.icon__trash{
    @extend .icon__clicable;
    color: $color-secundary;

}
.modal__bg{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: $color-principal;
    opacity: .8;
    z-index: 10;
    overflow: hidden;
}
.modal__content{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    pointer-events: none;
}
.icon__close{
    @extend .icon__clicable;
    position: absolute;
    right: 1.5em;
    
}
.input__default{
    font-size: 16px;
    background-color: $color-base;
    border-radius: 5px;
    border: none;
    border-bottom: 3px solid $color-principal;
    padding: 1em;
}
.input__default::placeholder{

    color:$color-principal;
}
.input__default:focus{

    outline: none;
}











// -------------------------------------------------------------------
.header__container{
    background-color: $color-principal;
    padding: 2em;
    height: 12em;
    z-index: 1;
}
.header__container h1{
    color: $color-principal-text;
}
.main__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -5em;
}
.main__card{
    max-width: $default-conteiner;
    background-color: $color-base-highlight;
    width: 100%;
    z-index: 2;
    border-radius: 10px;
    padding: 2em;
    margin-bottom: 3em;
    box-shadow: 5px 5px 20px #0000001f;
    pointer-events: fill;
    position: relative;
}


// ---------------------------------------------------------------------
.tracker__buttons{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1em;
    margin-top: 1.5em;
}
.tracker__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tracker__time{
    font-size: 20px;
    color: $color-secundary;
}
.tracker__time--stoped{
    @extend .tracker__time;
    color: $color-base-text;
}
// ---------------------------------------------------------------------
.item__container{
    display: flex;
    margin:  3em 0;
    align-items: center;
}
.item__day{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-principal;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    color: $color-principal-text;
}
.item__data{
    display: flex;
    justify-content: space-around;
    width: 80%;
}
@media only screen and (max-width: 400px) {
    .item__data {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        gap: 15px;
    }
}

.item__total{
    color:  $color-good;
    margin-left: 10px;
    font-weight: bold;
}
.item__total-negative{
    @extend .item__total;
    color:  $color-bad;
    
}
// ----------------------------------------------------------------------
.default__buttons{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 2em;
}
// ------------------------------------------------------------
.form__edit{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 2em;
}
.label__edit{
    display: flex;
    flex-direction: column;
}




